@media only screen and (max-width: 768px) {
    body {
        margin-top: 0 !important;
    }

    /* スマホで見出しが二行以上になると上下が詰まって見えるのを修正 */
    h1, h2, h3, h4 {
        line-height: 1.3;
    }

    #search-form {
        display: none;
    }

    #header h1 {
        float: none;
        text-align: center;
    }

    div.post div.author-box, div.comment-avatar-box {
        display: inherit;
    }

    ul#nav li a {
        border-radius: 0;
    }

    html {
        margin-top: 0 !important;
    }

    div.post-content {
        /* max-width: 70% */;
    }

    .padder {
        padding: 1em;
    }

    /* 記事内の縦長の画像が巨大になるのを修正 */
    .entry img {
        width: auto;
        max-width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    div.post .entry {
        width: 130%;
    }
}
